
/*전체를 감싸는 부분*/
.wrap {
    width: 100%;
}

/*헤드라인 부분(윗쪽 부분)*/
.topContainer {
    width: 100%;
    height: 120px;
    position: relative;
    margin-bottom: 10px;
    /*background-color: rgb(221, 215, 206); ★확인용 */    
}

/*1. 로고부분*/
.topLogo {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    margin-left: 10px;
}

.logo{
    width: 600px;
    overflow: hidden;
    margin-top: 10px;
    /*background-color: azure; ★확인용*/
    
}

.logo>img{
    width: 100px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.logo>h1{
    height: 60px;
    line-height: 60px;
    float: left;
    font-size: 2.3rem;
    color: cadetblue;
    font-family: "Diphylleia", serif;
    font-weight: bold;
    font-style: normal;
}

/*2. 네비게이션 부분, 로그인, 회원가입,..*/
.topNav{
    width: 360px;
    text-align: right;
}

.topNav li{
    display: inline;
}

.topNav li>a{
    display: inline-block;
    padding: 7px 5px;
    margin-right: 30px;
}

.topNav>ul{
    margin-top: 20px;
    /*background-color: rgb(211, 241, 241); ★확인용*/
}

.topNav li>a:hover{
    color: rgb(255, 255, 255);
    background-color:cadetblue;
    border-radius: 10px;
    font-weight: bold;
}

/* 메인 메뉴 부분, 회사소개, 프로그램, ..*/
.mainNav{
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.mainNav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: azure; ★확인용*/
}

.mainNav li>a{
    display: inline-block;
    padding: 5px 12px;
    font-size: 1rem;
}

.mainNav li>a:hover{
    color: cadetblue;
    font-weight: bold;
}

/*경계선*/
hr{
    margin-bottom: 10px;
    border: 1px double cadetblue;
}


/*검색 부분*/
.search{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}

/*1. 자료검색, 강좌검색*/
.search>form{
    overflow: hidden;
}

.search>form>div{
    float: left;
    width: 200px;
}

.search>form>div span{
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
}

/*.search>from>input[type="text"]*/
.search>form>input[name="textSearch"]{
    height: 35px;
    width: 320px;
    /*text-align: center;*/
    padding-left : 10px
}

/*배너 이미지*/
.banner{
    width: 100%;
    margin-bottom: 20px;
}

.banner>img{
    width: 100%;
}

/*코스*/
.courseInfo{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap; 공간이 부족하면 요소 줄바꿈 가능 */
    flex-wrap: nowrap; /*요소 줄바꿈 안함*/
    justify-content: space-between;
    margin-bottom: 20px;
}

.courseInfo>a{
    /*padding과 margin을 넣기 위해 display설정*/
    /*display: inline-block;*/
    /*padding:  2px 3px;
    margin : 3px 2px*/
}

.courseInfo img{
    box-sizing: border-box;
    width: 240px;
}

/*탭이 있는 부분, 공지사항, ..*/
.mainInfo{
    box-sizing: border-box; /*border,padding 포함 width와 height*/
    width: 100%;
    height: 420px;
    /*background-color: aliceblue;*/
    display: flex;
    flex-direction: row; /*아이템 배치 방향*/
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*탭 부분*/
.tabMenu{
    width: 600px;
    height: 420px;
    margin-right: 20px;
    /*background-color: rgb(231, 231, 231);  ★확인용 */
}

/*tab 제목 부분*/
.tabTitle{
    height: 49px;
    overflow: hidden;
    border: 1px solid rgb(158, 149, 149);
    background-color: rgb(211, 212, 212);
}

/*tab 제목의 버튼 부분*/
.tabTitle button{
    width: 150px;
    background-color: inherit; /*상속 : 부모와 같은 색*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer; /*마우스 포인터 모양*/
    padding: 14px 16px;
    transition: 0.3s; /*하나의 스타일이 완전히 다른 스타일로 바뀌는 것*/
    /*시간 : 스타일이 바뀌는 시간 (s: 초단위)*/
    font-size: 17px;
}

/*.tabTitle button:hover{ 마우스 포인터 올라왔을 때
    background-color: #ddd;
}*/

.tabTitle button:active{ /*마우스 포인터 활성화 됐을 때*/
    background-color: #ccc;
}

.tabPage{
    box-sizing: border-box;
    height: 369px;
    display: none; /*숨기기, 자리까지 없어짐*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; /*왼쪽 테두리 없앰*/
}

.tablinkInit {
    display: block;
}

/*책이미지 부분 책소개*/
.bookInfo>img{
    box-sizing: border-box;
    /*vertical-align: baseline;*/
    width: 340px;
    height:  369px;
    margin-top: 50px;
}


/* footer 부분 */
.footer{
    width: 100%;
    height: 200px;
}
.companyInfo{
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.companyInfo>ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
}
.companyInfo li>a:hover{
    color: red;
}
.symbols{
    margin-left: 18px;
}
.companyAddress>span{
    line-height: 28px;
    letter-spacing: 1px;
    margin-left: 20px;
}
